@{
    ViewData["Title"] = "Access denied";
}

<header class="text-center">
    <h2 class="text-danger">Access denied</h2>
    <p class="text-danger">You do not have access to this resource.</p>
</header>
