@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using System.Globalization
@using Microsoft.AspNetCore.Identity

<div class="table-responsive">
   
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>
                Date 
            </th>
             
                
            <th>
                Total Refunds
            </th>
                
          

            
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>
                Date 
            </th>
            

            <th>
                Total Refunds
            </th>
 
        </tr>
        </tfoot>
        <tbody>
        @if (ViewBag.DailyRefundsSummary != null)
        {
            foreach (var item in ViewBag.DailyRefundsSummary)
            {
                <tr>
                    <td>
                        <a href="~/Reports/DailyRefunds/?id=@item.Date" target="_blank">@item.Date </a>
                    </td>
                   
                    <td>
                        @item.Refunds
                    </td>
                  
                </tr>

            }
        }
        </tbody>
    </table>
</div>