@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using System.Globalization
@using Microsoft.AspNetCore.Identity

<div class="table-responsive">
   
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>
                Date Created
            </th>
            <th>
                Employee ID
            </th>
            <th>
                Full Name
            </th>
                
            <th>
                Refunds
            </th>
                
          

            
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>
                Date Created
            </th>
            <th>
                Employee ID
            </th>
            <th>
                Full Name
            </th>

            <th>
                Refunds
            </th>
 
        </tr>
        </tfoot>
        <tbody>
        @if (ViewBag.MonthlyRefunds != null)
        {
            foreach (var item in ViewBag.MonthlyRefunds)
            {
                <tr>
                    <td>
                        @item.Date
                    </td>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Refunds
                    </td>
                  
                </tr>

            }
        }
        </tbody>
    </table>
</div>