    @{
        ViewBag.Title = "Monthly Savings Report";
    }
 

<div class="row">
    <div class="col-md-12">
        <div class="card-header">
            <i class="fa fa-table"></i> @ViewBag.Title - Monthly
        </div>
        <div class="card-body">
            @Html.Partial("_SavingsMonthlySummaryTable")
        </div>
        <div class="card-footer small text-muted">Last Update @DateTime.Now</div>
    </div>
</div>



