    @{
        ViewBag.Title = "Yearly Savings Report";
    }
 
<div class="row">
    <div class="col-md-12">
        <div class="card-header">
            <i class="fa fa-table"></i> @ViewBag.Title
        </div>
        <div class="card-body">
            @Html.Partial("_SavingsYearlySummaryTable")
        </div>
        <div class="card-footer small text-muted">Last Update @DateTime.Now</div>
    </div>
</div>

